$columns: 12;
$columns-base-width: 100% / $columns;

.container {
  max-width: 1352px;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;

    [class*="col-"] {
      width: $columns-base-width;
      min-height: 1px;
    }

    //Mobile First
    @for $i from 1 through $columns {
      .col-#{$i} {
        width: $columns-base-width * $i;
      }
    }

    //Desktop
    @for $i from 1 through $columns {
      @include desktop {
        .col-lg-#{$i} {
          width: $columns-base-width * $i;
        }
      }
    }


  }
}